@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar-container {
    padding-left: 30px;
    padding-top: 10px;
    background-color: #1992d4;
    color: #ffff;
    font-size: 2rem;
}

.sidebar-user {
    margin-bottom: 30px;
    margin-top: 20px;
}

.sidebar-user>p {
    display: flex;   /*  NEEDS FIXING  */
    align-items: center;
    padding: 4px;
}

.sidebar-settings>p {
    padding: 4px;
}

.main-content-container {
  /*  border: 2px solid rgb(255, 0, 0); */
    display: grid;
    grid-template-columns: 1fr;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.searchbar-profile-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchbar-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 60px;
}

#search {
    margin-left: 10px;
    background-color: #e2e8f0;
    height: 2rem;
    width: 100vh;
    border: 0;
    border-radius: 25px;
    padding: 10px;
}

.notification-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-profile-container > * {
    margin-left: 30px;
}

.notification-profile-container > p {
    font-weight: bold;
    font-size: 1.4rem;
}

#smallPP {
    border-radius: 100%;
}

.welcome-interact-container {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.welcome-text-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.welcome-text-container > p {
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
}

.submit-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.submit-buttons input {
    border-radius: 20px;
    height: 2.5rem;
    width: 7rem;
    background-color: #1992d4;
    color: #ffff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out 0s;
}

.submit-buttons input:hover {
    transform: scale(1.1);
    background: #faae1c;
    color: #000;
}

.main-page-container {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
}

.projects-container > p {
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #ffff;
    padding: 25px;
    border-radius: 10px;
    min-height: 12rem;
    border-left: 5px solid #faae1c;
    display: flex;
    flex-direction: column;
}

.project-card >.project-settings {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 10px;
}

.project-card > p  {
    color: #636363;
}

.trending-container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 490px; */
    margin-top: 30px;
    margin-left: 20px;
}

.announcements-container {
    display:flex;
    flex-direction: column;
}

.announcements {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #ffff;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
    width: 490px;
}

.announcements-content > p {
    padding-bottom: 10px;
    color: #636363;
}
.announcements-content {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(38.8, 38.8, 38.8, .3);
}

.popular-container {
    width: 490px;
    margin-top: 10px;
}

.popular-profiles {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 10px;
    background-color: #ffff;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
}

.profiles-col-two {
    margin-left: 20px;
}

.profiles > img {
    border-radius: 100%;
    border: 1px solid #faae1c;
}

.profiles {
    display: flex;
}

.profiles:nth-child(2) {
    margin-top: 15px;
}

.profiles > div {
    margin-left: 15px;
}

.profiles > div > p:nth-child(2) {
    color: #636363;
}